@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
h2{
    font size: 12px;
    font-family: 'Poppins', sans-serif;
    color: blue;
}
p{
    font size: 10vh;
    font-family: 'Poppins', sans-serif;
}

